<ng-container [ngSwitch]="colDef.type">
  <!-- Boolean -->
  <ng-container *ngSwitchCase="'boolean'">
    {{value | checkMark}}
  </ng-container>
  <!-- Number -->
  <ng-container *ngSwitchCase="'number'">
    {{value | number: colDef.typeParameter?.digitsInfo : colDef.typeParameter?.locale}}
  </ng-container>
  <!-- Currency -->
  <ng-container *ngSwitchCase="'currency'">
    {{value | currency: colDef.typeParameter?.currencyCode ?? defaultCurrencyCode :
      colDef.typeParameter?.display : colDef.typeParameter?.digitsInfo : colDef.typeParameter?.locale}}
  </ng-container>
  <!-- Percent -->
  <ng-container *ngSwitchCase="'percent'">
    {{value | percent: colDef.typeParameter?.digitsInfo : colDef.typeParameter?.locale}}
  </ng-container>
  <!-- Date -->
  <ng-container *ngSwitchCase="'date'">
    {{value | date: colDef.typeParameter?.format ?? defaultDateFormat : colDef.typeParameter?.timezone :
      colDef.typeParameter?.locale}}
  </ng-container>
  <!-- Link -->
  <ng-container *ngSwitchCase="'link'">
    <a [href]="value" target="_blank">{{value}}</a>
  </ng-container>
  <!-- Default -->
  <ng-container *ngSwitchDefault>
    {{value}}
  </ng-container>
</ng-container>