<div class="enigmatry-grid-main enigmatry-grid-layout">

  <!-- Table content -->
  <div class="enigmatry-grid-content enigmatry-grid-layout">
    <div #tableContainer class="mat-table-container"
         [ngClass]="{'mat-table-with-data': !hasNoResult}">
      <table mat-table 
             [ngClass]="{'mat-table-hover': rowHover, 'mat-table-striped': rowStriped}"
             [dataSource]="dataSource"
             matSort
             [matSortActive]="sortActive"
             [matSortDirection]="sortDirection"
             [matSortDisableClear]="sortDisableClear"
             [matSortDisabled]="sortDisabled"
             [matSortStart]="sortStart"
             (matSortChange)="handleSortChange($event)">

        <!-- Selection column -->
        <ng-container *ngIf="rowSelectable && !hideRowSelectionCheckbox"
                      matColumnDef="CheckboxColumnDef">
          <th mat-header-cell *matHeaderCellDef class="enigmatry-grid-checkbox-cell">
            <mat-checkbox *ngIf="multiSelectable"
                          [checked]="rowSelection.hasValue() && isAllSelected()"
                          [indeterminate]="rowSelection.hasValue() && !isAllSelected()"
                          (change)="$event ? toggleMasterCheckbox() : null">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row; let index = index; let dataIndex = dataIndex;"
              class="enigmatry-grid-checkbox-cell">
            <mat-checkbox *ngIf="!(rowSelectionFormatter.hideCheckbox && rowSelectionFormatter.hideCheckbox!(row))"
                          [disabled]="rowSelectionFormatter.disabled && rowSelectionFormatter.disabled!(row)"
                          [checked]="rowSelection.isSelected(row)"
                          (click)="$event.stopPropagation()"
                          (change)="$event ? toggleCheckbox(row) : null">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Context menu column -->
        <ng-container *ngIf="showContextMenu" matColumnDef="ContextMenuColumnDef">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row; let index = index; let dataIndex = dataIndex;"
              class="enigmatry-grid-context-menu-cell">
              <ng-template [ngIf]="isTemplateRef(contextMenuTemplate)" [ngIfElse]="contextMenuTpl">
                <ng-template [ngTemplateOutlet]="contextMenuTemplate"
                             [ngTemplateOutletContext]="{ $implicit: row, rowData: row }">
                </ng-template>
              </ng-template>
              <ng-template #contextMenuTpl>
                <enigmatry-grid-context-menu
                  [items]="rowContextMenuFormatter?.items ? rowContextMenuFormatter.items(row) : contextMenuItems"
                  (selected)="contextMenuItemSelected.emit({itemId: $event, rowData: row})"
                ></enigmatry-grid-context-menu>
              </ng-template>
          </td>
        </ng-container>

        <ng-container *ngFor="let col of columns;">
          <ng-container [matColumnDef]="col.field"
                        [sticky]="col.pinned==='left'" [stickyEnd]="col.pinned==='right'">
            <th mat-header-cell *matHeaderCellDef
                [ngClass]="{'mat-table-sticky-left': col.pinned === 'left', 'mat-table-sticky-right': col.pinned === 'right'}"
                [ngStyle]="{'width': col.width, 'min-width': col.width}">
              <div class="mat-header-cell-inner">
                <ng-template [ngIf]="isTemplateRef(headerTemplate)" [ngIfElse]="headerTpl">
                  <ng-template [ngTemplateOutlet]="headerTemplate"
                               [ngTemplateOutletContext]="{ $implicit: col, colDef: col }">
                  </ng-template>
                </ng-template>
                <ng-template #headerTpl>
                  <ng-template [ngIf]="headerTemplate && isTemplateRef(headerTemplate[col.field])"
                               [ngIfElse]="defaultHeaderTpl">
                    <ng-template [ngTemplateOutlet]="headerTemplate[col.field]"
                                 [ngTemplateOutletContext]="{ $implicit: col, colDef: col }">
                    </ng-template>
                  </ng-template>
                </ng-template>
                <ng-template #defaultHeaderTpl>
                  <div [mat-sort-header]="col.sortProp?.id || col.field"
                       [disabled]="!col.sortable"
                       [disableClear]="col.sortProp?.disableClear">
                    <span>{{col.header}}</span>
                  </div>
                </ng-template>
              </div>
            </th>

            <td mat-cell *matCellDef="let row; let index = index; let dataIndex = dataIndex;"
                [ngClass]="{'mat-table-sticky-left': col.pinned === 'left', 'mat-table-sticky-right': col.pinned === 'right'}"
                [ngStyle]="{'width': col.width, 'min-width': col.width}"
                enigmatry-grid-selectable-cell>
              <ng-template [ngIf]="isTemplateRef(cellTemplate)" [ngIfElse]="cellTpl">
                <ng-template [ngTemplateOutlet]="cellTemplate"
                             [ngTemplateOutletContext]="{ $implicit: row, rowData: row, index: getIndex(index, dataIndex), colDef: col }">
                </ng-template>
              </ng-template>
              <ng-template #cellTpl>
                <ng-template [ngIf]="cellTemplate && isTemplateRef(cellTemplate[col.field])"
                             [ngIfElse]="colDefCellTpl">
                  <ng-template [ngTemplateOutlet]="cellTemplate[col.field]"
                               [ngTemplateOutletContext]="{ $implicit: row, rowData: row, index: getIndex(index, dataIndex), colDef: col }">
                  </ng-template>
                </ng-template>
              </ng-template>
              <ng-template #colDefCellTpl>
                <ng-template [ngIf]="col.cellTemplate" [ngIfElse]="defaultCellTpl"
                             [ngTemplateOutlet]="col.cellTemplate ?? null"
                             [ngTemplateOutletContext]="{ $implicit: row, rowData: row, index: getIndex(index, dataIndex), colDef: col }">
                </ng-template>
              </ng-template>
              <ng-template #defaultCellTpl>
                <enigmatry-grid-cell [rowData]="row" [colDef]="col"></enigmatry-grid-cell>
              </ng-template>
            </td>
          </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row
            *matRowDef="let row; let index = index; let dataIndex = dataIndex; columns: displayedColumns;"
            [ngClass]="getRowClassList(row, getIndex(index, dataIndex))"
            (click)="selectRow($event, row, getIndex(index, dataIndex))">
        </tr>
      </table>
    </div>

    <!-- No results -->
    <div class="enigmatry-grid-no-result" *ngIf="hasNoResult">
      <ng-template [ngIf]="isTemplateRef(noResultTemplate)" [ngIfElse]="defaultNoResultTpl">
        <ng-template [ngTemplateOutlet]="noResultTemplate"></ng-template>
      </ng-template>
      <ng-template #defaultNoResultTpl>{{noResultText}}</ng-template>
    </div>
  </div>
</div>

<div class="enigmatry-grid-footer">
  <!-- Pagination -->
  <div class="enigmatry-grid-pagination">
    <ng-template [ngIf]="isTemplateRef(paginationTemplate)" [ngIfElse]="defaultPaginationTemplate">
      <ng-template [ngTemplateOutlet]="paginationTemplate"></ng-template>
    </ng-template>
    <ng-template #defaultPaginationTemplate>
      <mat-paginator [class.mat-paginator-hidden]="!showPaginator"
                     [showFirstLastButtons]="showFirstLastButtons"
                     [length]="total"
                     [pageIndex]="pageIndex"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="pageSizeOptions"
                     [hidePageSize]="hidePageSize"
                     (page)="handlePage($event)"
                     [disabled]="pageDisabled">
      </mat-paginator>
    </ng-template>
  </div>
</div>
