@use '~@angular/material/theming';

.enigmatry-grid {
	display: flex;
	position: relative;
	flex-direction: column;
	width: 100%;

	.mat-table-container {
		overflow: auto;

		&.mat-table-with-data {
			flex: 1;
		}
	}

	.mat-header-cell,
	.mat-footer-cell,
	.mat-cell {
		box-sizing: border-box;
		padding: 4px 10px;

		&.enigmatry-grid-checkbox-cell {
			padding: {
				right: 10px;
				left: 10px;
			}
		}
	}

	.mat-table {
		min-width: 100%;
		border-collapse: separate;

		.mat-header-cell,
		.mat-footer-cell,
		.mat-cell {
			&:not(.enigmatry-grid-checkbox-cell) {
				min-width: 80px;
			}
		}
	}

	.mat-sort-header-icon {
		width: 18px;
		height: 18px;
		margin: 0 4px;
		font-size: 18px;
	}

	.mat-header-cell-inner {
		display: flex;
		align-items: center;
	}

	.mat-paginator-hidden {
		display: none;
	}
}

.enigmatry-grid-layout {
	display: flex;
	flex: 1 1 auto;
	overflow: auto;
}

.enigmatry-grid-content {
	flex-direction: column;
	width: 0;
}

.enigmatry-grid-footer {
	position: relative;
	z-index: 1;
}

.enigmatry-grid-no-result {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	font-size: 13px;
	min-height: 50px;
}

.enigmatry-grid-checkbox-cell,
.enigmatry-grid-context-menu-cell {
	flex: none;
	justify-content: center;
	width: 56px;
	min-width: 56px;

	.mat-checkbox {
		display: flex;
		margin: 0 10px;
	}

	.mat-checkbox-inner-container {
		margin-left: 0;
	}

	.mat-icon-button {
		padding-top: 5px;
	}
}
